{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
    </tr>
    </thead>
    <tbody>
    {{#member}}
        <tr>
            <th>{{id}}</th>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
    {{/member}}
    </tbody>
</table>
<button type="button" class="btn btn-primary" onclick="location.href='/members/{{id}}/delete'">Delete</button>
<button type="button" class="btn btn-primary" onclick="location.href='/members/{{id}}/edit'">Edit</button>
<button type="button" class="btn btn-primary" onclick="location.href='/members'">Go to Member List</button>
{{>layouts/footer}}