<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>셀프 체크 17</title>
</head>
<body>
<h1>Hello, <span id="target">World</span></h1>
<input type="text" id="text-input">
<button id="send-btn">전송</button>
<script>
    const btn = document.querySelector("#send-btn");
    btn.addEventListener("click", () => {
        const text = document.querySelector("#text-input").value;
        const someElement = document.querySelector("#target");
        someElement.innerText = text;
    })
</script>
</body>
</html>